* {
  color: white;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

body {
  width: 100%;
  background-color: #1c1a19;
  margin: 0;
  background-image: url("imgs/Group.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

header {
  width: 100%;
  height: 8vh;
  background-color: #3c3c33;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p {
  margin-left: 5%;
  font-size: 18px;
}

.burgir {
  height: 12px;
  width: 18px;
  margin-right: 5%;
}

.bio {
  padding: 10vh 3vh;
}

.social_media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  height: 40px;
  padding: 0;
}

h1 {
  font-family: "Crete Round", sans-serif;
  font-size: 56px;
  color: #ff6b00;
  font-weight: normal;
  margin-bottom: 25px;
}

h2 {
  font-size: 24px;
}

.descrip {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  margin-left: 0;
  font-size: 16px;
}
